<footer role="contentinfo" id="wb-info">
    <nav role="navigation">
        <div class="footer__left">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h3><a href="{{ path('<front>') }}"><img class="footer-logo" src="{{ images_path  ~ 'logo-footer.svg' }}" alt="Impact Canada logo"></a></h3>
                </div>
                <div class="col-sm-12 col-md-8">
                    {% if page.footer %}
                        {% block footer %}
                            {{ page.footer }}
                        {% endblock %}
                    {% endif %}
                </div>
                <div class="col-md-offset-4 col-md-8">
                    <p class="small">© {{ "now"|date("Y") }} Impact Canada Initiative</p>
                </div>
            </div>
        </div>
        <div class="footer__right">
            {% if page.footer_right %}
                {% block footer_right %}
                    {{ page.footer_right }}
                {% endblock %}
            {% endif %}
        </div>
    </nav>
    <div class="sub-footer"><img class="sub-footer__logo" src="{{ images_path  ~ 'canada-wordmark-white.svg' }}" alt="{{ 'Canada wordmark'|t }}"></div>
</footer>
