<div class="pcocp-container">
    <div class="highlighted">
        <div class="region region-highlighted">
        </div>
    </div>

    <main role="main" property="mainContentOfPage">
        <div class="largetron" >
            <div class="largetron__left">
                <span class="blt blt-lg blt-teal"></span>
                <p>{{ form['#challenge_department'] }}</p>
                <h1 id="wb-content">{{ form['#challenge_name'] }}</h1>
                <a href="/"><i class="fas fa-chevron-left"></i> Back to all challenges</a>
            </div>
            <div class="largetron__right">
                <img src="{{ form['#challenge_image'] }}" alt="challenge banner">
            </div>
        </div>

        <nav class="challenge-bar shadow-sm" id="navbar-example2">
            <div class="container narrow">
                <div class="challenge-pills">
                    <a href="./challenge.html" class="active" aria-posinset="1" aria-setsize="5">The Challenge</a>
                    <a href="./challenge-process.html" aria-posinset="2" aria-setsize="5">Process</a>
                    <a href="./challenge-prizes.html" aria-posinset="3" aria-setsize="5">Prizes</a>
                    <a href="./challenge-results.html" aria-posinset="4" aria-setsize="5">Results</a>
                    <a href="./challenge-contact.html" aria-posinset="5" aria-setsize="5">Contact</a>
                </div>
            </div>
        </nav>

        <!-- challenges section -->
        <section id="challengePage" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <div class="container narrow">

                {# Challenge Description #}
                <div class="field field--name-field-challenge-description field--type-text-with-summary field--label-hidden field--item">
                  {#{{ form['#challenge_description'] | raw }}#} {% set paragraph = form['#challenge_description'] %} {% set body = { '#type':
                  'processed_text', '#text': paragraph.value, '#format': paragraph.format, } %} {{ body }}
                </div>

              {#{{ form['#challenge_subpage']['#challenge_description'] | raw }}#} {% set paragraph = form['#challenge_subpage']['#challenge_subpage_body'] %} {% set body = { '#type':
              'processed_text', '#text': paragraph.value, '#format': paragraph.format, } %} {{ body }}

            </div>
        </section>

        <!-- challenge details box -->
        <section id="challenge-details">
            <div class="container narrow">
                <div class="challenge-details__box">
                    <h2><span class="blt blt-red hidden-xs"></span> Challenge details</h2>
                    <div class="row wb-eqht">
                        <div class="col-sm-6">
                            <h3>Key dates</h3>
                            <ul class="">
                                <li>Application deadline: April 24, 2018</li>
                                <li>Announcement of finalists: Summer 2018</li>
                                <li>Announcement of winners: Spring 2019</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h3>Prizes</h3>
                            <ul class="">
                                <li>One prize of up to $50 million</li>
                                <li>Two prizes of up to $10 million each</li>
                                <li>ne prize of up to $5 million</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h3>Who can apply</h3>
                            <ul class="">
                                <li>Municipalities, local or regional governments</li>
                                <li>Indigenous communities</li>
                                <li>Groups of organisations above</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h3>Resources</h3>
                            <ul class="">
                                <li><a href="#!">Applicante Guide</a></li>
                                <li><a href="#!">Finalist Guide</a></li>
                                <li><a href="#!">FAQ</a></li>
                                <li><a href="#!">Webinars</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <hr>
                            <a type="button" class="btn btn-secondary btn-block shadow" href="#!"><i class="fas fa-check-circle"></i> Accept challenge</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
