<div class="pcocp-container">
    <div class="highlighted">
        <div class="region region-highlighted">
        </div>
    </div>

    <main role="main" property="mainContentOfPage">
        <div class="largetron" >
            <div class="largetron__left">
                <span class="blt blt-lg blt-teal"></span>
                <p>{{ form['#challenge_department'] }}</p>
                <h1 id="wb-content">{{ form['#challenge_name'] }}</h1>
                <a href="/#challenges"><i class="fas fa-chevron-left"></i> {{ 'Back to all challenges'|t }}</a>
            </div>
            <div class="largetron__right">
                <img src="{{ form['#challenge_image'] }}" alt="challenge banner">
            </div>
        </div>

        {# Subpage Navigation #}
        <nav class="challenge-bar shadow-sm" id="challenge-navbar">
            <div class="container narrow">
                <div class="challenge-pills">
                  {% set pos = 1 %}
                  {% for item in form['#challenge_menu_array'] %}
                    {% if item.url == form['#challenge_menu_array'][0].url %}
                        {% set cls = "active" %}
                    {% else %}
                        {% set cls = "" %}
                    {% endif %}
                    <a href="{{ item.url }}" class="{{ cls }}" aria-posinset="{{ pos }}" aria-setsize="5">{{ item.title }}</a>
                    {% set pos = pos + 1 %}
                  {% endfor %}
                </div>
            </div>
        </nav>

        {# Edit Node Bar (TODO: Admin Only) #} {% if form['#logged_in'] %}
        <nav class="tabs mrgn-tp-md mrgn-bttm-md" role="navigation" aria-label="Tabs">
          <h2 class="visually-hidden">Primary tabs</h2>
          <ul class="tabs--primary nav nav-tabs">
            <li>
              <a href="/en/challenges/smart-cities" data-drupal-link-system-path="node/4">View
                <span class="visually-hidden">(active tab)</span>
              </a>
            </li>
            <li>
              <a href="/en{{ form['#challenge_node'] }}/edit" rel="edit-form">Edit</a>
            </li>
            <li>
              <a href="/en{{ form['#challenge_node'] }}/delete">Delete</a>
            </li>
            <li>
              <a href="/en{{ form['#challenge_node'] }}/revisions">Revisions</a>
            </li>
            <li>
              <a href="/en{{ form['#challenge_node'] }}/translations">Translate</a>
            </li>
          </ul>
        </nav>
        {% endif %}
 
        <!-- challenges section -->
        <section id="challengePage" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <div class="container narrow">

                {# Challenge Description #}
                <div class="field field--name-field-challenge-description field--type-text-with-summary field--label-hidden field--item">
                  {#{{ form['#challenge_description'] | raw }}#} {% set paragraph = form['#challenge_description'] %} {% set body = { '#type':
                  'processed_text', '#text': paragraph.value, '#format': paragraph.format, } %} {{ body }}
                </div>

              {#{{ form['#challenge_subpage']['#challenge_description'] | raw }}#} {% set paragraph = form['#challenge_subpage']['#challenge_subpage_body'] %} {% set body = { '#type':
              'processed_text', '#text': paragraph.value, '#format': paragraph.format, } %} {{ body }}

            </div>
        </section>

        <!-- challenge details box -->
        {% if form['#challenge_details'] %}
        <section id="challenge-details">
            <div class="container narrow">
                <div class="challenge-details__box">
                    <h2><span class="blt blt-red hidden-xs"></span> {{ 'Challenge details'|t }}</h2>
                    <div class="row wb-eqht">
                        {% for item in form['#challenge_details'] %}
                        <div class="col-sm-6">
                            {{ item.value | raw }}
                        </div>
                        {% endfor %}
                        {% if form['#challenge_details_footer'] %}
                        <div class="col-sm-12">
                            <hr>
                            {{ form['#challenge_details_footer'] | raw }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

    </main>
</div>
