<div class="pcocp-container">
    <div class="highlighted">
        <div class="region region-highlighted">
        </div>
    </div>

    <main role="main" property="mainContentOfPage">
        <div class="largetron" >
            <div class="largetron__left">
                <span class="blt blt-lg blt-teal"></span>
                <p>{{ form['#challenge_department'] }}</p>
                <h1 id="wb-content">{{ form['#challenge_name'] }}</h1>
                <a href="/"><i class="fas fa-chevron-left"></i> {{ 'Back to all challenges'|t }}</a>
            </div>
            <div class="largetron__right">
                <img src="{{ form['#challenge_image'] }}" alt="challenge banner">
            </div>
        </div>

        {# Subpage Navigation #}
        <nav class="challenge-bar shadow-sm" id="challenge-navbar">
            <div class="container narrow">
                <div class="challenge-pills">
                  {% set pos = 1 %}
                  {% for item in form['#challenge_menu_array'] %}
                    {% if item.title == "News" or item.title == "Nouvelles" %}
                        {% set cls = "active" %}
                    {% else %}
                        {% set cls = "" %}
                    {% endif %}
                    <a href="{{ item.url }}" class="{{ cls }}" aria-posinset="{{ pos }}" aria-setsize="5">{{ item.title }}</a>
                    {% set pos = pos + 1 %}
                  {% endfor %}
                </div>
            </div>
        </nav>

        {# Edit Node Bar (TODO: Admin Only) #} {% if form['#logged_in'] %}
        <nav class="tabs mrgn-tp-md mrgn-bttm-md" role="navigation" aria-label="Tabs">
          <h2 class="visually-hidden">Primary tabs</h2>
          <ul class="tabs--primary nav nav-tabs">
            <li>
              <a href="/en/challenges/smart-cities" data-drupal-link-system-path="node/4">View
                <span class="visually-hidden">(active tab)</span>
              </a>
            </li>
            <li>
              <a href="/en{{ form['#challenge_node'] }}/edit" rel="edit-form">Edit</a>
            </li>
            <li>
              <a href="/en{{ form['#challenge_node'] }}/delete">Delete</a>
            </li>
            <li>
              <a href="/en{{ form['#challenge_node'] }}/revisions">Revisions</a>
            </li>
            <li>
              <a href="/en{{ form['#challenge_node'] }}/translations">Translate</a>
            </li>
          </ul>
        </nav>
        {% endif %}
 
        <!-- challenges section -->
        <section id="challengePage" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <div class="container narrow">

              <div class="col-sm-12 mrgn-bttm-lg">
                <h1 id="wb-cont" class="h1">{{ 'News' | t }}</h1>
              </div>
              {# If No News Exists #}
              {% if form['#news'] == false %}
                <h2 class="lead text-center">This challenge doesn't appear to have any news yet. Please check back later.</h2>
              {% endif %}

              {# For Loop Items Here #}
              {% for item in form['#news'] %}
                <div class="field-challenge-news-item col-sm-12 mrgn-bttm-xl brdr-bttm">
                <div class="col-sm-12 col-md-9 bs-region bs-region--left mrgn-bttm-xl">
                  <h4 class="field-challenge-news-item-type">{{ item.header }}</h4>
                  <h2 class="field-challenge-news-item-title mrgn-tp-md">{{ item.title }}</h2>
                  <p class="news-body">
                    {% set paragraph = item.body %}
                    {% set body = { '#type':
                    'processed_text', '#text': paragraph.value, '#format': paragraph.format, } %} {{ body }}
                  </p>
                </div>
                <div class="col-sm-12 col-md-3 bs-region bs-region--right mrgn-bttm-xl">
                    {% set side_paragraph = item.sidebar %}
                    {% set side_body = { '#type':
                    'processed_text', '#text': side_paragraph.value, '#format': side_paragraph.format, } %} {{ side_body }}
                </div>
              </div>
              {% endfor %}

              {{ form['#pager'] }}

            </div>
        </section>

        <!-- challenge details box -->
        <section id="challenge-details">
            <div class="container narrow">
                <div class="challenge-details__box">
                    <h2><span class="blt blt-red hidden-xs"></span> Challenge details</h2>
                    <div class="row wb-eqht">
                        <div class="col-sm-6">
                            <h3>Key dates</h3>
                            <ul class="">
                                <li>Application deadline: April 24, 2018</li>
                                <li>Announcement of finalists: Summer 2018</li>
                                <li>Announcement of winners: Spring 2019</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h3>Prizes</h3>
                            <ul class="">
                                <li>One prize of up to $50 million</li>
                                <li>Two prizes of up to $10 million each</li>
                                <li>ne prize of up to $5 million</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h3>Who can apply</h3>
                            <ul class="">
                                <li>Municipalities, local or regional governments</li>
                                <li>Indigenous communities</li>
                                <li>Groups of organisations above</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h3>Resources</h3>
                            <ul class="">
                                <li><a href="#!">Applicante Guide</a></li>
                                <li><a href="#!">Finalist Guide</a></li>
                                <li><a href="#!">FAQ</a></li>
                                <li><a href="#!">Webinars</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <hr>
                            <a type="button" class="btn btn-secondary btn-block shadow" href="#!"><i class="fas fa-check-circle"></i> Accept challenge</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
